html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #0f2027;
  background-image: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
  overflow-x: hidden;
}

html {
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
